<cdk-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl"
          style="display: flex; flex-direction: column" [trackBy]="trackBy">
  <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
    <div style="flex-direction: row">
      @if ((node | asTreeNode).expandable()) {
        <button mat-icon-button cdkTreeNodeToggle>
          <mat-icon>
            @if (nestedTreeControl.isExpanded(node)) {
              expand_more
            } @else {
              chevron_right
            }
          </mat-icon>
        </button>
      }

      <input type="checkbox" [checked]="(node | asTreeNode).selected()" (change)="handleNodeSelectionChange(node, $any($event.target).checked)" >

      {{ (node | asTreeNode).data.item }}
      @if ((node |asTreeNode).loading()) {
        Loading...
      }

    </div>
    @if ((node | asTreeNode).options().has(TreeOption.Last)){
      <button (click)="loadMore(node)">Load more</button>
    }
    @if (nestedTreeControl.isExpanded(node)) {
      <div style="display: flex; flex-direction: column">
        <ng-container cdkTreeNodeOutlet>
        </ng-container>
      </div>
    }
  </cdk-nested-tree-node>
</cdk-tree>

<div
  style="right: 0; bottom: 0; height: 200px; width: 200px; position: fixed; display: flex; flex-direction: column; justify-items: center; background-color: bisque">
  <i style="text-align: center">Selected Nodes</i>
  <ul>
    @for (selectedNode of selectedNodes(); track $index){
      <li>{{selectedNode.data.item}} (Level {{selectedNode.level}})</li>
    }
  </ul>

</div>
