<cdk-tree [dataSource]="nestedDataSource" [childrenAccessor]="childrenAccessor"
          style="display: flex; flex-direction: column" [trackBy]="trackBy" #tree>

  <cdk-nested-tree-node *cdkTreeNodeDef="let _node" class="example-tree-node" (expandedChange)="handleNodeExpansion($event, _node)">

    @let node = _node | asNestedTreeNode;

    <div style="flex-direction: row">
      @if (node.expandable()) {
        <button mat-icon-button cdkTreeNodeToggle>
          <mat-icon>
            @if (tree.isExpanded(node)) {
              expand_more
            } @else {
              chevron_right
            }
          </mat-icon>
        </button>
      }

      <input type="checkbox" [checked]="node.selected()" (change)="handleNodeSelectionChange(node, $any($event.target).checked)" >

      {{ node.data.item }}
      @if (node.loading()) {
        Loading...
      }

    </div>
    @if (node.options().has(TreeOption.Last)){
      <button (click)="loadMore(node)">Load more</button>
    }
    @if (tree.isExpanded(node)) {
      <div style="display: flex; flex-direction: column">
        <ng-container cdkTreeNodeOutlet>
        </ng-container>
      </div>
    }
  </cdk-nested-tree-node>
</cdk-tree>

<div
  style="right: 0; bottom: 0; height: 200px; width: 200px; position: fixed; display: flex; flex-direction: column; justify-items: center; background-color: bisque">
  <i style="text-align: center">Selected Nodes</i>
  <ul>
    @for (selectedNode of selectedNodes(); track $index){
      <li>{{selectedNode.data.item}} (Level {{selectedNode.level}})</li>
    }
  </ul>

</div>
