@if (loading()) {
  Loading initial data....
}
<div
  style="right: 0; bottom: 0; height: 200px; width: 200px; position: fixed; display: flex; flex-direction: column; justify-items: center; background-color: bisque">
  <i style="text-align: center">Selected Nodes</i>
  {{ selectedNodes() | json }}
</div>
<cdk-tree [dataSource]="datasource" #tree [childrenAccessor]="childrenAccessor">
  <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding
                 class="tree-node">
<!--    @if (node | asTreeNode) {-->

<!--    }-->
    <div style="display: flex; flex-direction: row; align-items: center; justify-items: end">
      @if (hasChild(node)) {
        <button mat-icon-button cdkTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name"
                [style.visibility]="node.expandable ? 'visible' : 'hidden'">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
      } @else {
        <button mat-icon-button disabled cdkTreeNodePadding></button>
      }
      <input type="checkbox" [value]="(node | asTreeNode).selected()" (click)="toggleNodeSelect(node)">
      {{ (node | asTreeNode).data.item }}
      @if ((node | asTreeNode).loading()) {
        Loading...
      }
    </div>

    @if ((node | asTreeNode).options().has(TreeOption.Last)) {
      <button (click)="loadMore(node)">Load more...</button>
    }
  </cdk-tree-node>
</cdk-tree>
